#{extends 'main.html' /}
#{set title:'Home' /}
<!--          <div class="control-group error">-->
<!--            <label class="control-label" for="inputError">Last name: </label>-->
<!--            <div class="controls">-->
<!--              <input type="text" id="inputError" name="lname" value="${flash.lname}" placeholder="Enter...">-->
<!--              <span class="help-inline">#{error 'lname' /}</span>-->
<!--            </div>-->
<!--         </div>-->
<div class="well">
    #{form @Application.post()}
<!--        <p>-->
<!--            <label for="fname">First name: </label>-->
<!--            <input type="text" name="fname" value="${flash.fname}" placeholder="Enter…"/>-->
<!--            <span class="error">#{error 'fname' /}</span>-->
<!--        </p>-->
        #{addField name:'fname', text:'First name: ' /}
        #{addField name:'lname', text:'Last name: ' /}
        <p>
             <div class="control-group">
                <label class="control-label" for="boatType">Select Boat Type</label>
                <div class="controls">
                  <select name="boatType" id="boatType" class="required" value="${flash.boatType}">
                    <option value="">Unspecified...</option>
                    <option value="Power">Power</option>
                    <option value="Sail">Sail</option>
                  </select>
                <span class="error">#{error 'boatType' /}</span>
                </div>
              </div>
        </p>
        #{addField name:'boatLength', text:'Input Boat Length in inches: ' /}
        #{addField name:'boatBeam', text:'Input Boat Beam in inches: ' /}
        #{addField name:'email', text:'Email address: ' /}
        #{addField name:'phoneNumber', text:'Phone number: ' /}
        #{addField name:'postalAddress', text:'Address: ' /}
        #{addField name:'city', text:'City: ' /}
        #{addField name:'state', text:'State: ' /}
        #{addField name:'zip', text:'Zip: ' /}
        <p>
            <input id="submit" type="submit" class="btn btn-primary" value="Submit" />
            <a class="btn" id="que" href="/que">View Que</a>
    #{/form}
</div>
