#{extends 'main.html' /}
#{set title:'Home' /}
<div class="well">
    #{form @Application.post()}
        <p>
            <label for="fname">First name: </label>
            <input type="text" name="fname" value="${flash.fname}" placeholder="Enter…"/>
            <span class="error">#{error 'fname' /}</span>
        </p>
        <p>
<!--          <div class="control-group error">-->
<!--            <label class="control-label" for="inputError">Last name: </label>-->
<!--            <div class="controls">-->
<!--              <input type="text" id="inputError" name="lname" value="${flash.lname}" placeholder="Enter...">-->
<!--              <span class="help-inline">#{error 'lname' /}</span>-->
<!--            </div>-->
<!--         </div>-->
            <label for="lname">Last name: </label>
            <input type="text" name="lname" value="${flash.lname}" placeholder="Enter…"/>
            <span class="error">#{error 'lname' /}</span>
        </p>
        <p>
             <div class="control-group">
                <label class="control-label" for="boatType">Select Boat Type</label>
                <div class="controls">
                  <select name="boatType" id="boatType" class="required">
                    <option value="">Unspecified...</option>
                    <option value="power">Power</option>
                    <option value="sail">Sail</option>
                  </select>
                <span class="error">#{error 'boatType' /}</span>
                </div>
              </div>
        </p>
        <p>
            <label for="email">Email address: </label>
            <input class="control-group error" type="text" name="email" value="${flash.email}" placeholder="Enter…"/>
            <span class="error">#{error 'email' /}</span>
        </p>
        <p>
            <label for="phoneNumber">Phone number: </label>
            <input type="text" name="phoneNumber" id="phoneNumber" value="${flash.phoneNumber}" placeholder="Enter…"/>
            <span class="error">#{error 'phoneNumber' /}</span>
        </p>
        <p>
            <label for="postalAddress">Address: </label>
            <input type="text" name="postalAddress" id="postalAddress" value="${flash.postalAddress}" placeholder="Enter…"/>
        </p>
        <p>
            <label for="city">City: </label>
            <input type="text" name="city" value="${flash.city}" placeholder="Enter…"/>
        </p>
        <p>
            <label for="state">State: </label>
            <input type="text" name="state" value="${flash.state}" placeholder="Enter…"/>
        </p>
        <p>
            <label for="zip">Zip: </label>
            <input type="text" name="zip" value="${flash.zip}" placeholder="Enter…"/>
            <span class="error">#{error 'zip' /}</span>
        </p>
        <p>
            <input id="submit" type="submit" class="btn btn-primary" value="Submit" />
            <a class="btn" id="que" href="/que">View Que</a>
    #{/form}
</div>
