#{extends 'main.html' /}
#{set title:'Home' /}
<!--          <div class="control-group error">-->
<!--            <label class="control-label" for="inputError">Last name: </label>-->
<!--            <div class="controls">-->
<!--              <input type="text" id="inputError" name="lname" value="${flash.lname}" placeholder="Enter...">-->
<!--              <span class="help-inline">#{error 'lname' /}</span>-->
<!--            </div>-->
<!--         </div>-->
<div class="well">
    #{form @Application.post()}
        <p>
             <div class="control-group">
                <label class="control-label" for="boatType">Select Boat Type</label>
                <div class="controls">
                  <select name="boatType" id="boatType" class="required" value="${flash.boatType}">
                    <option value="">Unspecified...</option>
                    <option value="Power">Power</option>
                    <option value="Sail">Sail</option>
                  </select>
                <span class="error">#{error 'boatType' /}</span>
                </div>
              </div>
        </p>
        #{addField name:'boatLength', text:'Input Boat Length in inches: ' /}
        #{addField name:'boatBeam', text:'Input Boat Beam in inches: ' /}
        #{addFields name:'fname', text:'First name: ', numFields:2 /}
        #{addFields name:'lname', text:'Last name: ', numFields:2 /}
        #{addFields name:'email', text:'Email address: ', numFields:2 /}
        #{addFields name:'phoneNumber', text:'Phone number: ', numFields:2 /}
        #{addFields name:'postalAddress', text:'Address: ', numFields:2 /}
        #{addFields name:'city', text:'City: ', numFields:2 /}
        #{addFields name:'state', text:'State: ', numFields:2 /}
        #{addFields name:'zip', text:'Zip: ', numFields:2 /}
        <p>
            <input id="submit" type="submit" class="btn btn-primary" value="Submit" />
            <a class="btn" id="que" href="/que">View Que</a>
    #{/form}
</div>
