#{extends 'main.html' /}
#{set title:'Que' /}

<div class="applicant-table">
  <table class="table table-striped" name="applicants">
        <thead>
          <tr>
            <th>#</th>
            <th>Date Applied</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
            #{list items:applicants, as:'applicant'}
              <tr>
                <td>${applicant.id}</td>
                <td>${applicant.date}</td>
                <td>${applicant.firstName}</td>
                <td>${applicant.lastName}</td>
                <td>${applicant.contact.postalAddress.address} <br> ${applicant.contact.postalAddress.city}, ${applicant.contact.postalAddress.state} ${applicant.contact.postalAddress.zip}</td>
                <td>${applicant.contact.email}</td>
                <td>${applicant.contact.phoneNumber}</td>
              </tr>
            #{/list}
        </tbody>
      </table>
</div>
